{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Biblioteca SENAC</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Biblioteca SENAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin/">Administração</a>
              </li>
          </ul>
        </div>
      </nav>
    </header>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    <!-- Begin page content -->
    {% block area1 %}
    <main role="main" class="container">
      <h1 class="mt-5">Biblioteca SENAC</h1>
      <p class="lead">O conteudo do site fica aqui.</p>
    </main>
    
          <!-- Listagem inserida direto na pagina HOME -->
    <div class='container'>
        {%for livro in livros%}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/livros/{{livro.id}}" style='text-decoration:none;'>{{livro.titulo}}</a>
                
                <a href='/livros/atualizar/{{livro.id}}' style='text-decoration:none;'>Editar</a>
                <a href='/livros/deletar/{{livro.id}}' style='text-decoration:none;'>Deletar</a>
            </li>
        </ul>
        {%endfor%}
    </div>    
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>