{% extends 'livros/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class='container mt-5'>
        <h2>Listando todos os livros</h2>

        <p class="lead justify-center">Digite aqui o título do livro que deseja:</p>
      <form method='GET'>
        <div class='input-group-prepend'>
          <button class="btn btn-light" type="submit" id="button-addon1">Buscar</button>
        </div>
        <input type="text" class="form-control" name="search" id="search">
      </form>

        {%if messages%}
            <div class='alert alert-info'>
                {%for message in messages%}
                    <strong>{{message}}</strong> O livro {{livro.titulo}} foi apagado.
                {% endfor %}
            </div>
        {% endif %}

        {%for livro in livros%}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/livros/{{livro.id}}" style='text-decoration:none;'>{{livro.titulo}}</a>
                    <div>
                    <a href="/livros/editar/{{livro.id}}" style='text-decoration:none; padding-right:20px'>Editar</a>
                    <a href="/livros/deletar/{{livro.id}}" style='text-decoration:none;'>Deletar</a>
                    </div>
                </li>
            </ul>
        {%endfor%}
    </div>

{%endblock%}